{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Home - AimTasks</title>
            <!-- normal style stuff -->
            <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

            <!-- home page specific style -->
            <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

            <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap" rel="stylesheet">
    </head>

    <body>
        {% include 'partials/navbar.html' %}
      
        <!-- Flash Messages -->
        {% if messages %}
          <div class="message-container">
            {% for message in messages %}
              <div class="flash-message {{ message.tags }}">{{ message }}</div>
            {% endfor %}
          </div>
        {% endif %}

        <div class="content">
          <div class="home-section">
            <h1>Welcome to AimTasks!</h1>
            <p>The ultimate warm-up creator for competitive gamers. Customize your pre-game routine with tasks and practices to get your mechanics and mental in peak performance.</p>
            {% if user.is_authenticated %}
              <a class="cta-button" href="{% url 'task_list' %}">Start your Warmup</a>
            {% else %}
              <a class="cta-button" href="{% url 'signup' %}">Sign Up to Get Started</a>
            {% endif %}
          </div>
      
          <div class="home-section">
            <h2>Tips to Build a Better Routine:</h2>
            <div class="tip-list">
              <ul>
                <li>Have a consistent part to your warmup (drink tea, take a walk, meditate)</li>
                <li>Start with 5–10 minutes of aim training, more if you prefer this</li>
                <li>Look at a couple recent matches, VOD them if you are into that!</li>
                <li>Keep your warm-up consistent but adaptable, don't overstress, but don't slack!</li>
              </ul>
            </div>
          </div>
      
          <div class="home-section">
            <h2>Pro Tip:</h2>
            <p>You can add custom tasks to track your own drills, like “Play a deathmatch” or “Practice retake setups.”</p>
          </div>
        </div>
      </body>
      <script>
        setTimeout(() => {
          const message = document.querySelector('.flash-message');
          const container = document.querySelector('.message-container');
      
          if (message) {
            message.classList.add('fade-out');
          }
      
          setTimeout(() => {
            if (container) {
              container.style.display = 'none';
            }
          }, 500);
        }, 2500);
      </script>
</html>
