{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Update Task</title>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap" rel="stylesheet">
        <!-- normal style stuff -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

        <!-- page specific style -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
    </head>
    <body>

        {% include 'partials/navbar.html' %}
        <div class="content">
            <h1>Update Task</h1>
            
            <form method="POST" class="task-form">
                {% csrf_token %}
                <label>Title:</label>
                <input type="text" name="title" value="{{ task.title }}" required><br><br>

                <label>Description:</label><br>
                <textarea name="description" rows="8">{{ task.description }}</textarea><br><br>

                <div class="checkbox-row">
                    <input type="checkbox" id="completed" name="completed" {% if task.completed %}checked{% endif %}>
                    <label for="completed">Mark as Completed</label>
                </div>
                
                <div class="checkbox-row">
                    <input type="checkbox" id="is_daily" name="is_daily" {% if task.is_daily %}checked{% endif %}>
                    <label for="is_daily">Daily Task?</label>
                </div>
                
                

                <button type="submit">Update</button>
            </form>

            <a href="{% url 'task_list' %}">Back to Tasks</a>
        </div>
    </body>
</html>
